@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Ola bem vindo ao primeiro projeto.</p>
<p>Name Developer: @ViewData["Developer"]</p>
<p>Contact : @ViewData["Contact"]</p>
<address>
    <strong>Instagram  Profile:</strong><a href="https://www.instagram.com/wiliamrf/">Wiliam Freitas</a>
</address>




